ALTER PROCEDURE dbo.p_lataa_f_amk_talous_6_liiketoiminnan_tuloslaskelma AS

TRUNCATE TABLE ANTERO_DW.dbo.f_amk_talous_6_liiketoiminnan_tuloslaskelma

INSERT INTO dbo.f_amk_talous_6_liiketoiminnan_tuloslaskelma
           (d_amk_id
           ,tilikausi
           ,aineistotyyppi
           ,liikevaihto
           ,puol_tai_valmiit_varastojen_lisays_tai_vahennys
           ,valmistus_omaan_kayttoon
           ,liiketoiminnan_muut_tuotot
           ,materiaalit_ja_palvelut
           ,aineet_tarvikkeet_ja_tavarat
           ,ostot_tilikauden_aikana
           ,varastojen_lisays_tai_vahennys
           ,ulkopuoliset_palvelut
           ,henkilostokulut
           ,palkat_ja_palkkiot
           ,henkilostosivukulut
           ,elakekulut
           ,muut_henkilostosivukulut
           ,poistot_ja_arvonalennukset
           ,suunnitelman_mukaiset_poistot
           ,arvonalentumiset_pysyvat_vastaavat_hyödyke
           ,arvonalentumiset_vaihtuvat_vastaavat_poikkeukset
           ,liiketoiminnan_muut_kulut
           ,liikevoitto
           ,rahoitustuotot_ja_kulut
           ,tuotot_osuuksista_konserni
           ,tuotot_osuuksista_omistusyhteistyoyrityksissa
           ,tuotot_muista
           ,tuotot_sama_konserni
           ,tuotot_muilta
           ,muut_korkotuotot
           ,muut_korkotuotot_sama_konserni
           ,muut_korkotuotot_muilta
           ,arvonalentumiset_pysyvat_vastaavat
           ,arvonalentumiset_vaihtuvat_vastaavat
           ,korkokulut_ja_muut_rahoituskulut
           ,korkokulut_sama_konserni
           ,korkokulut_muille
           ,voitto_ennen_satunnaisia_eria
           ,satunnaiset_erat
           ,satunnaiset_tuotot
           ,satunnaiset_kulut
           ,voitot_ennen_tilinpaatossiirtoja
           ,tilinpaatossiirrot
           ,poistoeron_lisays
           ,vapaaehtoisten_varausten_lisays
           ,tuloverot
           ,muut_valittomat_verot
           ,tilkauden_voitto
           ,source)
SELECT d1.id AS d_amk_id
	  ,TILIK
      ,Aineistotyyppi
	  ,LIIKEVAIHTO
      ,VARASTOJEN_LISAYS_TAI_VAHENNYS
      ,VALMISTUS_OMAAN_KAYTTOON
      ,LIIKETOIMINNAN_MUUT_TUOTOT
      ,MATERIAALIT_JA_PALVELUT
      ,AINEET_TARVIKKEET_JA_TAVARAT
      ,OSTOT_TILIKAUDEN_AIKANA
      ,TUOTTEET_VARASTOJEN_LISAYS_TAI_VAHENNYS
      ,ULKOPUOLISET_PALVELUT
      ,HENKILOSTOKULUT
      ,PALKAT_JA_PALKKIOT
      ,HENKILOSTOSIVUKULUT
      ,ELAKEKULUT
      ,MUUT_HENKILOSTOSIVUKULUT
      ,POISTOT_JA_ARVONALENNUKSET
      ,SUUNNITELMAN_MUKAISET_POISTOT
      ,SIJOITUKSET_ARVONALENTUMISET_PYSYVAT_VASTAAVAT
      ,SIJOITUKSET_ARVONALENTUMISET_VAIHTUVAT_VASTAAVAT
      ,LIIKETOIMINNAN_MUUT_KULUT
      ,LIIKEVOITTO
      ,RAHOITUSTUOTOT_JA_KULUT
      ,TUOTOT_OSUUKSISTA_KONSERNI
      ,TUOTOT_OSUUKSISTA_OMISTUSYHTEISTYOYRITYKSISSA
      ,TUOTOT_MUISTA
      ,TUOTOT_SAMA_KONSERNI
      ,TUOTOT_MUILTA
      ,MUUT_KORKOTUOTOT
      ,MUUT_KORKOTUOTOT_SAMA_KONSERNI
      ,MUUT_KORKOTUOTOT_MUILTA
      ,ARVONALENTUMISET_PYSYVAT_VASTAAVAT
      ,ARVONALENTUMISET_VAIHTUVAT_VASTAAVAT
      ,KORKOKULUT_JA_MUUT_RAHOITUSKULUT
      ,KORKOKULUT_SAMA_KONSERNI
      ,KORKOKULUT_MUILLE
      ,VOITTO_ENNEN_SATUNNAISIA_ERIA
      ,SATUNNAISET_ERAT
      ,SATUNNAISET_TUOTOT
      ,SATUNNAISET_KULUT
      ,VOITOT_ENNEN_TILINPAATOSSIIRTOJA
      ,TILINPAATOSSIIRROT
      ,POISTOERON_LISAYS
      ,VAPAAEHTOISTEN_VARAUSTEN_LISAYS
      ,TULOVEROT
      ,MUUT_VALITTOMAT_VEROT
      ,TILKAUDEN_VOITTO
      ,'ETL: p_lataa_f_amk_talous_6_liiketoiminnan_tuloslaskelma' AS source
  FROM ANTERO_SA.dbo.SA_SUORAT_AMK_TALOUS_6_liiketoiminnan_tuloslaskelma f
  INNER JOIN ANTERO_DW.dbo.d_amk d1 ON f.AMK_koodi = d1.amk_tunnus