.idea/*
*.pyc
*.suo
/tabular/**/.vs/
/tabular/**/bin/
/tabular/**/obj/
/tabular/**/*.settings
/tabular jäädytys/**/.vs/
/tabular jäädytys/**/bin/
/tabular jäädytys/**/obj/
/tabular jäädytys/**/*.settings
/pdi_integrations/koski_bulk/conf
/pdi_integrations/odw/conf
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/antero/v17/DocumentLayout.backup.json
/.vs/antero/v17/DocumentLayout.json
/.vs/antero/v17/.wsuo
