.idea/*
*.pyc
/tabular/Bibliometriikka/Bibliometriikka
/tabular/BibliometriikkaSc/Bibliometriikka
/tabular/Aloittaneiden läpäisy/Aloittaneiden läpäisy K310 yliopisto/Aloittaneiden läpäisy K310 yliopisto.bim_jkarin.settings
