IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'sa.sa_suorat_yo_talous_1_tuloslaskelma') AND type in (N'U'))
BEGIN
CREATE TABLE sa.sa_suorat_yo_talous_1_tuloslaskelma(
	ARVALPAL bigint NULL,
	ARVONAL bigint NULL,
	AVUSTUST bigint NULL,
	ELAKEK bigint NULL,
	Emo_konserni varchar(255) NULL,
	EUMUUT bigint NULL,
	EUSUORA bigint NULL,
	EUYRITYS bigint NULL,
	HLOKULUY bigint NULL,
	KERAKULU bigint NULL,
	KERATULO bigint NULL,
	KONEVUOK bigint NULL,
	KORKOK bigint NULL,
	KORKOT bigint NULL,
	KOTILAHJ bigint NULL,
	KOTITALT bigint NULL,
	KRAHALT bigint NULL,
	KUNNAT bigint NULL,
	KYRITYST bigint NULL,
	LAHJKULU bigint NULL,
	LAHJTULO bigint NULL,
	MTAPPIO bigint NULL,
	MUUJULKH bigint NULL,
	MUULAHJ bigint NULL,
	MUUSIVUK bigint NULL,
	MUUTILAK bigint NULL,
	MVOITTO bigint NULL,
	OSA text NULL,
	OSINKOT bigint NULL,
	PALKKAK bigint NULL,
	PALVOSTO bigint NULL,
	POISTOT bigint NULL,
	SRJAAMA bigint NULL,
	SRLIIKEK bigint NULL,
	SRLIIKET bigint NULL,
	SRMUUK bigint NULL,
	SRMUUTUL bigint NULL,
	SROSUUS bigint NULL,
	SRVAHEM bigint NULL,
	TAVAOSTO bigint NULL,
	TEKES bigint NULL,
	TILIK int NULL,
	ULKMUU bigint NULL,
	ULKYRITY bigint NULL,
	VALTIO bigint NULL,
	VASTIKEK bigint NULL,
	VHJAAMA bigint NULL,
	VHLIIKEK bigint NULL,
	VHLIIKET bigint NULL,
	VHMUUK bigint NULL,
	VHMUUTUL bigint NULL,
	VHOSUUST bigint NULL,
	VHVAHEM bigint NULL,
	VTJAAMA bigint NULL,
	VTKULUTY bigint NULL,
	VTLIIKEK bigint NULL,
	VTLIIKET bigint NULL,
	VTMUUK bigint NULL,
	VTMUUTUL bigint NULL,
	VTOSUUST bigint NULL,
	VTVAHEM bigint NULL,
	VUOKRAK bigint NULL,
	VUOKRAT bigint NULL,
	VYHTEISO bigint NULL,
	YLIOP varchar(255) NULL,
	YLIOP_koodi varchar(5) NULL,
	SATTUOTO bigint NULL,
	SATKULUT bigint NULL,
	YOLAKI49 bigint NULL,
	MUUYAVUS bigint NULL,
	OMAKRAHM bigint NULL,
	TILIKTUL bigint NULL,
	POISTOEM bigint NULL,
	SIDOTTRM bigint NULL,
	TULOVERO bigint NULL,
	TILIKJAAM bigint NULL,
	YVARULKOT bigint NULL,
	MVARULKOT bigint NULL,
	ALV bigint NULL,
	OKMALV bigint NULL,
	VMALV bigint NULL,
	MUUALV bigint NULL,
	VMHAR bigint NULL,
	OKMHAR bigint NULL,
	HARLIIK bigint NULL,
	APTEMKA bigint NULL,
	APTEVER bigint NULL,
	Aineistotyyppi_osa_1 varchar(1) NULL,
	IMP_CREATED_DATE datetime NULL,
	IMP_UPDATED_DATE datetime NULL,
	IMP_CREATED_BY varchar(100) NULL,
	AKATEMIA bigint NULL,
	YRITLAHJ bigint NULL
)
END