USE [ANTERO]
GO

/****** Object:  Table [dw].[f_arvo_avop]    Script Date: 29.4.2026 12.27.49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dw].[f_arvo_avop]') AND type in (N'U'))
DROP TABLE [dw].[f_arvo_avop]
GO

/****** Object:  Table [dw].[f_arvo_avop]    Script Date: 29.4.2026 12.27.49 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dw].[f_arvo_avop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kyselyvuosi] [int] NOT NULL,
	[d_organisaatio_oppilaitos_id] [int] NOT NULL,
	[d_organisaatio_koulutustoimija_id] [int] NULL,
	[d_alueluokitus_oppilaitos_id] [int] NULL,
	[d_alueluokitus_koulutustoimija_id] [int] NULL,
	[d_koulutusluokitus_id] [int] NOT NULL,
	[d_kytkin_opetushallinnon_alainen_koulutus_id] [int] NULL,
	[d_kieli_koulutuskieli_id] [int] NULL,
	[d_arvovastaus_taustakysymys_sukupuoli_id] [nvarchar](50) NOT NULL,
	[d_arvovastaus_taustakysymys_ika_id] [int] NULL,
	[d_arvovastaus_taustakysymys_pohjakoulutus_id] [int] NULL,
	[d_alueluokitus_henkilon_kotikunta_id] [int] NOT NULL,
	[d_kalenteri_tunnus_luotu_id] [int] NOT NULL,
	[d_kalenteri_vastaus_id] [int] NULL,
	[d_arvokysymys_id] [int] NOT NULL,
	[d_arvovastaus_monivalinta_id] [int] NULL,
	[d_virta_rahoituslahde_id] [int] NULL,
	[kyselyid] [int] NOT NULL,
	[vastaajaid] [nvarchar](50) NULL,
	[loadtime] [datetime] NOT NULL,
	[username] [varchar](30) NOT NULL,
	[source] [varchar](100) NOT NULL,
	[numerovalinta] [nvarchar](50) NULL,
	[visualisointiin] [int] NULL,
	[analyysivisualisointiin] [int] NULL,
 CONSTRAINT [PK__f_arvo_avop] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dw].[f_arvo_avop] ADD  CONSTRAINT [DF__f_arvo_avop__loadtime]  DEFAULT (getdate()) FOR [loadtime]
GO

ALTER TABLE [dw].[f_arvo_avop] ADD  CONSTRAINT [DF__f_arvo_avop__username]  DEFAULT (suser_sname()) FOR [username]