/target/
/*/target/
/*/*/target/
/*/*/*/target
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.project
.settings
.classpath
.idea
*.iml
_sprite.properties
_sprite.*
/.metadata/